<nav class="topnav navbar navbar-default col-xs-12">
  <!-- Jumbotron logo -->
  <div class="logo-container">
    <a class="navbar-brand pull-left" href="#">Danebook</a>
  </div>

  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <!--  end of extra mobile stuff -->

  <!--Email/password inputs -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <form>
      <ul class="nav navbar-nav navbar-right nav-links">
        <li>
          <input type="email" name="email" placeholder="Email" class="form-control">
        </li>
        <li>
          <input type="password" name="password" placeholder="Password" class="form-control">
        </li>
        <li>
          <input type="submit" class="btn btn-primary" value="Log In">
        </li>
      </ul>
    </form>
  </div>

</nav>